@use '../abstracts/colors' as *;
.go-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  background-color: $color-primary;
  color: $color-white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 0 4px 15px rgba($color-primary, 0.3);
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  z-index: 1000;
  cursor: pointer;
  color: $color-white;

  &:hover {
    background-color: $color-white;
    box-shadow: 0 6px 20px rgba($color-primary, 0.4);
    transform: translateY(-3px);
    color: $color-primary;
  }
}

