@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.heading-wrapper {
    text-align: center;
    margin-bottom: remCalc(80px);
    position: relative;
    padding-top: remCalc(20px);

    @include respond-to(medium) {
        margin-bottom: remCalc(60px);
    }

    h1 {
        font-size: remCalc(140px);
        font-weight: 900;
        color: $color-bg-faded;
        text-transform: uppercase;
        @include absolute-center;
        top: 0;
        width: 100%;
        z-index: 1;
        letter-spacing: 10px;
        line-height: 1;
        pointer-events: none;

        @include respond-to(medium) {
            font-size: remCalc(80px);
            letter-spacing: 5px;
        }

        @include respond-to(extra-small) {
            font-size: remCalc(50px);
            letter-spacing: 0px;
        }
    }

    h2 {
        font-size: remCalc(36px);
        font-weight: 700;
        color: $color-text-dark;
        text-transform: capitalize;
        margin: 0;
        position: relative;
        z-index: 2;
        padding-top: remCalc(50px);

        @include respond-to(medium) {
            font-size: remCalc(28px);
            padding-top: remCalc(30px);
        }

        @include respond-to(extra-small) {
            font-size: remCalc(24px);
        }
        
        &::after {
            content: '';
            display: block;
            width: remCalc(80px);
            height: remCalc(3px);
            background-color: $color-primary;
            margin: remCalc(15px) auto 0;
        }
    }
}
