@use '../abstracts/colors' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: $color-text-body;
    line-height: 1.6;
}
