@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.about {
    padding: remCalc(100px) 0;
    background-color: $color-white;
    position: relative;

    .about-content {
        @include flex-center(row, 80px);
        justify-content: space-between;
        align-items: flex-start;
        max-width: remCalc(1140px);
        margin: 0 auto;
        padding: 0 remCalc(20px);
        
        @include respond-to(large) {
            flex-direction: column;
            gap: remCalc(50px);
        }

        .about-left {
            flex: 0 0 58%;
            
            @include respond-to(large) {
                flex: 0 0 100%;
            }

            h3 {
                font-size: remCalc(26px);
                font-weight: 600;
                color: $color-text-dark;
                margin-bottom: remCalc(25px);
                line-height: 1.4;
                
                .highlight {
                    color: $color-primary;
                    font-weight: 600;
                }
            }

            p {
                font-size: remCalc(16px);
                color: $color-text-body;
                line-height: 1.8;
                margin-bottom: remCalc(20px);
                font-weight: 400;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .about-right {
            flex: 0 0 35%;
            
            @include respond-to(large) {
                flex: 0 0 100%;
            }

            p {
                font-size: remCalc(16px);
                color: $color-text-body;
                margin-bottom: remCalc(18px);
                @include flex-center(row);
                justify-content: flex-start;
                line-height: 1.6;
                
                strong {
                    color: $color-text-dark;
                    font-weight: 600;
                    min-width: remCalc(80px);
                    display: inline-block;
                }
            }

            .line-break {
                width: 100%;
                height: 1px;
                background-color: $color-border;
                margin: remCalc(18px) 0;
            }

            button {
                @include button-style($color-primary);
                margin-top: remCalc(30px);
                width: 100%;
                max-width: remCalc(200px);
            }
        }
    }

    .about-bottom {
        max-width: remCalc(1140px);
        margin: remCalc(80px) auto 0;
        padding: 0 remCalc(20px);

        .about-grid {
            @include flex-center(row);
            justify-content: space-between;
            background-color: $color-bg-light;
            border-radius: 8px;
            padding: remCalc(60px) 0;

            @include respond-to(medium) {
                flex-direction: column;
                padding: remCalc(40px) 0;
            }

            .about-grid__item {
                flex: 1;
                text-align: center;
                position: relative;
                padding: 0 remCalc(30px);

                @include respond-to(medium) {
                    padding: remCalc(20px) remCalc(30px);
                    width: 100%;
                }

                &:not(:last-child)::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: remCalc(60px);
                    background-color: $color-border-medium;

                    @include respond-to(medium) {
                        display: none;
                    }
                }

                h4 {
                    font-size: remCalc(48px);
                    font-weight: 700;
                    color: $color-text-dark;
                    margin: 0 0 remCalc(10px) 0;
                    line-height: 1;
                }

                p {
                    font-size: remCalc(16px);
                    color: $color-text-body;
                    margin: 0;
                    font-weight: 400;
                    line-height: 1.5;
                }
            }
        }
    }
}
