@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.testimonial {
  padding: remCalc(100px) 0;
  background-color: $color-bg-light;

  .testimonial-container {
    max-width: remCalc(1140px);
    margin: 0 auto;
    padding: 0 remCalc(20px);
    overflow: hidden;
    position: relative;
  }

  .testimonial-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin: 0 remCalc(-15px);
  }

  .testimonial-item {
    flex: 0 0 50%;
    padding: 0 remCalc(15px);
    box-sizing: border-box;

    @include respond-to(large) {
      flex: 0 0 100%;
    }
  }

  .card {
    background: $color-white;
    padding: remCalc(40px);
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba($color-black, 0.05);
    height: 100%;
    @include flex-center(column);
    justify-content: space-between;
    align-items: flex-start;

    @include respond-to(small) {
      padding: remCalc(30px) remCalc(20px);
    }

    .card-header {
      @include flex-center(row);
      justify-content: flex-start;
      margin-bottom: remCalc(25px);
      width: 100%;

      img {
        width: remCalc(65px);
        height: remCalc(65px);
        border-radius: 50%;
        margin-right: remCalc(20px);
        object-fit: cover;

        @include respond-to(small) {
          width: remCalc(50px);
          height: remCalc(50px);
          margin-right: remCalc(15px);
        }
      }

      .user-info {
        h3 {
          font-size: remCalc(18px);
          color: $color-text-dark;
          margin-bottom: remCalc(5px);
          font-weight: 600;
        }

        p {
          font-size: remCalc(14px);
          color: $color-text-body;
          margin: 0;
        }
      }
    }

    .content {
      font-size: remCalc(16px);
      line-height: 1.8;
      color: $color-text-content;
      margin-bottom: remCalc(20px);
      font-style: normal;

      @include respond-to(small) {
        font-size: remCalc(15px);
      }
    }

    .rating {
      color: $color-yellow;
      font-size: remCalc(14px);
      
      i {
        margin-right: remCalc(2px);
      }
    }
  }

}
